<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> !!!! Dashboard !!!! </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }

        h1 {
            color: #FF0000;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <h1>YOUHOU !Tu es CONNECTEEEE MON FREROOOOW</h1>
    <p>DE RIEN FRERE.</p>
</body>
</html>
