<%- include('../partials/header') %>
<div class="card">
    <h3 class="card-header"><%= operation %></h3>

    <div class="card-block">

        <form action="<%= action %>" method="post">

            <% if (typeof message !== 'undefined') { %>
                <% if (message.length) { %>
                    <%- include('../partials/alert', { message: message, type: type }) %>
            <% }
            } %>

            <div class="container">
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label text-right">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mail" name="mail"
                            placeholder="Enter your email" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label text-right">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" name="pwd"
                            placeholder="Enter your password" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div><!-- .container -->

        </form>

    </div><!-- .card-block -->

    <div class="card-footer text-center">
        <a href="/" class=" btn btn-primary btn-sm">Back</a>
    </div>

</div><!-- .card -->
