<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a Company</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- assuming you have a style.css in public/css -->
</head>
<body>
    <div class="container">
        <h2>Register a Company</h2>
        <% if (locals.error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="name">Company Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input type="email" name="mail" id="mail" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="pwd" id="pwd" required>
            </div>
            <div class="form-group">
                <label for="logo">Logo URL:</label>
                <input type="text" name="logo" id="logo">
            </div>
            <div class="form-group">
                <label for="Attribute1">Attribute1:</label>
                <input type="text" name="Attribute1" id="Attribute1">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>